nav{
   display:flex ;
   text-align: center;
   justify-content: space-around;
   
}

.logo{
    font-size: 34px;
    color: #4E47FF;
    font-weight:bolder;
    width: 99px;
    height: 51px;
    padding: 15px;
}

.sign-up-button{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

.heading{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}

.Banner{
    text-align: center;
    padding-top: 200px;
    
}

header{
    background-image: url("/Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    
}



























































































