nav{
   display:flex ;
   text-align: center;
   justify-content: space-around;
   
}

.open-sans-logo{
    font-size: 34px;
    color: #4E47FF;
    font-weight:bolder;
    width: 99px;
    height: 51px;
    padding: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.sign-up-button{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

.open-sans-heading{
  font-weight: bold;
  font-size: 65px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.Banner{
    text-align: center;
    padding-top: 200px;
    
}

header{
    background-image: url("/Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    
}

.description{
    width: 517px;
    height: 203px;
    margin:23px;
}

.action-section-body{
    display: flex;
    gap: 220px;
    /* border: 2px solid red; */
    justify-content: space-around;
}

.action-section{
    border-width: 1140px;
    height: 328px;
   margin-top: 140px;
    
}

.image-processing img{
    width: 450px;
    height: 350px;
    border-radius: 48px;
    
}

.title{
    color: #252432;
    font-weight: bold;
    font-size: 42px;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.subtitle{
   color: #96969f;
   font-size: 24px; 
   text-align: left;
   font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button-animation:hover{
   color: black;
   background-color: yellow;
   cursor: pointer;
}

.user-title{
    color: #252432;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
 
.allign-subtitles-data{
    text-align: center;
}

.sub-title{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.data{
    color: #807070;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.subtitles-data{
    display: flex;
    justify-content:space-around;
   
}

.productive-users-body{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 142px;
    margin-right: 142px;
}

.productive-users-section{
    background-color: rgb(231, 240, 255);
    border-radius: 24px;
    border: 30px solid rgb(231, 240, 255);   
}

#productive-user{
    padding: 140px;

}

body{ 
  background-color: rgb(239, 244, 251);
}





.star-icon{
    display: flex;
    gap: 4px;
}

.name{
    color: #757575;
    font-size: 30px;
    
}

.date{
    color: #B3B3B3;
    font-size: 25px;
}

.div-cart{

    background-color: rgb(244, 242, 249);
    width: 70%; 
    border: 15px solid rgb(239, 244, 251);
    border-radius: 30px;
    justify-content: space-around;
    padding: 20px;
}

.carts{
    display: flex;
    text-align: center;
   
}

.allign{
    text-align: center;
}


.image img{
    border-radius: 9999px;
}

.reviewer-details{
    display: flex;
    gap: 10px;
}

.name-date{
    text-align: left;
}

.users-feedback-section{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.section-title{

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 97px;
    margin-left: 50px;
}

.get-in-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.get-in-touch{
    margin: 150px;
}

.form{
    font-size: 1.9rem;
    padding-right: 50px;
}

.box-width{
    width: 435px;
    height: 50px;
}

.get-touch-button{
    width: 440px;
}

.form-label{
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
}



















